
body{
    image-rendering: pixelated;
}
article .card{
    transition: 1s ease-in-out;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid rgb(0, 38, 255);
    background-position: center center;
}
menu{
    display: flex;
    height: fit-content;
    padding: 20px;
    background-image: url(assets/Gifs/2.gif);
    background-position: center center;
    background-size: 40%;
    margin: -8px;
    align-items: center;
    justify-content: space-between;
}
#backgroundPortal{
    background-image: url(assets/Gifs/HomeBackGround.gif);
    background-size: cover;
    background-position: center center;
}
.material-symbols-outlined{
    cursor: pointer;
    height: 30px;
}
menu img{
    position: relative;
    height: 80px;
    transform: translate(-50%);
    left: 50%;
    vertical-align: middle;
}
