::-webkit-scrollbar{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:active{
    background-color: rgba(0, 98, 255, 0.5);
}